{% include "JAlgo/Header.html" %}
<ul class="nav nav-tabs nav-justified bg-light">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/basic.html/">Contact</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
        </li>
    </ul>
{% block content %}
	{% for c in content %}
   		<br><label>&nbsp&nbsp&nbsp&nbsp{{c}}</label>
	{% endfor %}
{% endblock %}
    
    