{% extends "JAlgo/Header.html" %}
{% block content %}
<ul class="nav nav-tabs nav-justified bg-light">
    <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/basic.html/">Contact</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Login</a>
    </li>
</ul>
<br>
<blockquote><center>Hey there!!! This is the first page! you can click on the "Contact" tab to see the output of Johanson's Algorithm.</center></blockquote>
{% endblock %}